
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition :background-color var(0.3s),color var(0.3s);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111827;
  color:#f9fafb;
  line-height:1.6;
  min-height:100vh;
}

/* Dashboard container */
.app-contiainer {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:30px;
  padding-bottom:15px;
  border-bottom:2-x solid #374151;
}

/* Left section with progress and stats */
.dashboard-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.circle-progress {
  width: 80px;
  height: 80px;
  background: conic-gradient(#3b82f6 37.5%, #2c2f3f 0%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  font-weight: bold;
}

/* Stats and info */
.dashboard-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard-info h2 {
  font-size: 20px;
  font-weight: 600;
}

.stats {
  display: flex;
  gap: 15px;
}

.stat {
  background-color: #1a1e33;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
}

.stat p {
  font-size: 14px;
  color: #ccc;
}

.stat span {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.message {
  font-size: 15px;
  margin-top: 5px;
  color: #e2e2e2;
}

/* Right section for button */
.dashboard-right {
  margin-left: auto;
}

.reset-button {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #3b82f6;
  border-radius: 8px;
  color: #3b82f6;
  cursor: pointer;
  transition: 0.3s ease;
}

.reset-button:hover {
  background-color: #3b82f6;
  color: #fff;
}
